.root {
  max-width: 285px;
  & img {
    border-radius: 15px;
    width: 282px;
    height: 380px;
    margin-bottom: 12px;
  }
  & label {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #1f1f23;
    margin: 0;
  }
  & p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #6d6d7b;
    font-style: normal;
  }
  & .seeMore {
    text-decoration: underline;
    color: #1f1f23;
    cursor: pointer;
  }
}
