@import '../../../styles/customMediaQueries.css';

.root {
  display: flex;
  justify-content: center;

  & .body {
    padding: 80px 0 80px 120px;
    width: 1440px;
    & .titleLabel {
      min-height: 380px;
      & .btnContainer {
        bottom: 0;
        right: 0;
        & div {
          background-color: #fdecf2;
          padding: 8px;
          border-radius: 50px;
          cursor: pointer;
        }
        & .btnPrev {
          margin-right: 8px;
        }
        & .btnNext {
          transform: rotate(180deg);
        }
      }
    }
    & .content {
      margin-top: 24px;
      display: flex;
      overflow-x: auto;
      width: 120.7%;
    }
    & .label {
      font-weight: 500;
      font-size: 42px;
      line-height: 50px;
    }
  }
}
