@import '../../../styles/customMediaQueries.css';

.root {
  background: #fdecf2;
  display: flex;
  justify-content: center;
  & .body {
    padding: 80px 120px;
    width: 1440px;
    & .titleLabel {
      display: flex;
      justify-content: space-between;
      & .title {
        max-width: 354px;
        font-size: 35px;
        line-height: 48px;
        font-weight: 500;
      }
      & .label {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        max-width: 589px;
        color: #6d6d7b;
      }
    }
    & .content {
      margin-top: 24px;
      display: flex;
      overflow-x: auto;
      width: 120.7%;
    }
  }
}
